.tanjungpinang h2 {
    margin-top: -5%;
    padding: 10% 0 0 10%; /* top right bottom left */
    font-family: 'Irish Grover', sans-serif;
    font-size: 24px;
    font-weight: bold;
    width: 77%;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -375px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;

    @media only screen and (min-width: 768px) {
        left: 0; /* Show the sidebar on wider screens */
    }
}

.sidenav a:hover {
    box-shadow: inset 5px 0 0 #f0f0f0; /* Adjust the shadow color and size as needed */
    border-left: 5px solid #f0f0f0; /* Match the shadow color for consistency */
}

.posisi {
    margin-top: 30px;
}

.general {
    color: rgba(149, 144, 144, 1);
    padding: 10px;
    font-family: 'Inter', sans-serif; 
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    display: block;
    border: none;
    outline: none;
    padding: 6px 8px 6px 16px;
}

.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    display: block;
    padding: 10px 16px;
    font-size: 20px;
    transition: background-color 0.5s;
    text-align: left;

    &:hover {
      background-color: #f0f0f0;
    }
}

.link img {
    height: 24px;
    width: 24px;
    margin-right: 5%; 
  }
  
