.te {
    background-color: rgba(255, 255, 255, 1);
    padding: 30px;
    border-radius: 29px;
    margin-right: auto; 
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    min-width: 100vh;
    min-height: 50%;
}

.tambah {
    font-family: 'Inter', sans-serif; 
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.search {
    display: flex;
    align-items: center;
}

.search label {
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif; 
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.hunt{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

/* Add styles for the table and its components */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead, body {
    border: 1px solid #dddddd;
}


th, td {
    text-align: center;
    padding: 8px;
    max-width: 20px;
}

@media (max-width: 600px) {
    .te {
        width: 100%;
        margin: 20px auto;
        padding: 20px;
    }
    
    .hunt {
        padding: 8px;
    }
    
    .td button.btn {
        margin-right: 0;
        margin-bottom: 8px;
    }
}

tbody{
    background-color: rgba(231, 231, 231, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

tbody tr{
    border: 1px solid #dddddd;
}

.thumbnail {
    max-width: 10%;
    max-height: 100vh;
    object-fit: cover;
}

.td button.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

td button.btn.delete {
    background-color: #f13b4d; 
    border: none;
    cursor: pointer;
    margin-left: 5px;
    transition: 1s;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

td button.btn.delete:hover {
    background-color: #fd011a; 
}

td button.btn.edit{
    background-color:rgba(132, 243, 177, 1);
    border: none;
    cursor: pointer;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

td button.btn.edit:hover{
    background-color:rgb(10, 245, 104);
}

.edit_produk{
    text-decoration: none;
    color: black;
}

@media (max-width: 600px) {
    .te {
        width: 100%;
        margin: 20px auto;
        padding: 20px;
    }

    .hunt {
        padding: 8px;
    }

    .td button.btn {
        margin-right: 0;
        margin-bottom: 8px;
    }

    .thumbnail {
        max-width: 100%;
    }
}