/* Base styling for larger screens */
.editFoto {
    width: 100%; /* Adjusted for responsiveness */
    max-width: 750px;
    height: 350px;
    margin-top: -11%;
    margin-left: auto;
    margin-right: auto; /* Center on larger screens */
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

/* Example styling for the image */
.editFoto img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: Add border-radius to the image */
}

/* Example styling for the text container */
.editiFotoNama {
    text-align: left; /* Optional: Adjust text alignment */
}

/* Example styling for the text inside the container */
.editiFotoNama h2 {
    color: #333; 
    padding: 20px;
    margin-left: -3%;
    margin-right: -3%; /* Center on larger screens */
    margin-top: 48%;
    border-radius: 10px;
    max-width: 800px; /* Adjusted for responsiveness */
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    .editFoto {
        max-width: none;
    }

    .editiFotoNama h2 {
        max-width: 100%; /* Adjusted for responsiveness */
    }
}
