.container {
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: -35%;
    margin-left: 20%;
    text-align: left;
    padding: 10px;
    font-family: 'Inter', sans-serif; 
    font-size: 32px;
    font-weight: bold;
    line-height: 17px;
    letter-spacing: 0em;
}

.box {
    padding: 10%;
    height: 28%;
    width: 90%;
    max-width: 1000px; /* Adjust the max-width based on your design */
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -10%;
    padding: 20px;

    /* Center horizontally and vertically */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.context {
    margin: 10 auto;    
    display: flex;
    flex-direction: column;
}

/* Additional styling for labels and inputs */
.context label {
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.context input {
    width: 30%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 200px; /* Set the width as needed */
}

/* Style the options */
select option {
    background-color: #fff;
    color: #333;
}

/* Style the select when it's focused */
select:focus {
    outline: none;
    border-color: #007bff; /* Change the color as needed */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change the shadow as needed */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .box {
        width: 80%;
        margin: 20% auto;
    }

    .context {
        width: 100%; /* Adjust this based on your design */
    }
}
