.container {
    background: rgba(244, 236, 250, 1);
    width: 100%;
}

.title {
    padding: 5px;
    margin-left: 21%;
}

.title h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px;
    padding: 10px; 
}

.title1,
.title2,
.title3 {
    width: 35%;
    padding: 10px;
    margin-top: 20px ;
    margin-left: 21%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

.title1 h2,
.title2 h2,
.title3 .ketik {
    font-family: Inter;
    margin: 10px;
    padding: 10px;
}

.title1 h2,
.title2 h2 {
    font-size: 32px;
    line-height: 39px;
}

.title2 h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.title3 .ketik {
    width: 94%;
    padding: 10px;
    top: 345px;
    left: 285px;
    border-radius: 8px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.20);
}


.foto {
    margin: auto;
    width: 40%;
    margin-top:1%;
    margin-left:20%;  
    height: 50%;
}

.image {
    text-align: center; 
    width:30%;
    margin: 20px; 
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20) ;
    height: 60%;
    display: inline-block;
}

.image img {
    padding: 10px;
    width: 200px;
    height: 200px;
    transition: 1s;
}

.image img:hover{
    opacity: 0.5;
}

.content {
    margin: 0 auto;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: 1s;
}

.text {
    margin-left: 15px;
    color:rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.price{
    margin-left: 15px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(167, 167, 167, 1);
}

.center_button {
    position: absolute;
    background: rgba(212, 170, 246, 1);
    margin:0 auto;
    transform: translateX(-50%);
    width:77px;
    height: 28px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 4px #dadada ;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.center_button:hover {
    background: rgba(175, 135, 211, 1); 
    transform: scale(1);
}

.steby {
    margin: -886px;
    width: 36%;
    height: 49%;
    padding: 5px;
    margin-right: 20px;
    float: right;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}

.list {
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    padding: 10px;
}

hr {
    margin: 0 auto;
}

.context {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    height: 33px;
    top: 266px;
    border-radius: 5px;
}

.customer {
    display: inline-block;
    color: rgba(154, 151, 151, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.number {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.steby3 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.steby3 p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(154, 151, 151, 1);
}

.steby4 {
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
}

.belum {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(219, 251, 241, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}

.steby5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: 10px;
}

.steby5 .total {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: rgba(154, 151, 151, 1);
}

.steby5 .biaya {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 1);
}

.steby6 {
    margin: 5px;
    text-align: left;
}

.steby6 p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    padding: 10px;
}

.steby6 p:first-child {
    color: rgba(154, 151, 151, 1);
}

.steby6 p:last-child {
    color: rgba(0, 0, 0, 1);
}

.proses {
    width: 169px;
    height: 39px;
    top: 740px;
    left: 8px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
}


@media (max-width: 767px) {
    .container {
        width: 100%;
        height: auto;
    }

    .margin {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 100%;
        height: 1124px;
    }
}







