@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

.container {
    margin: 0;
    padding: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .text h1 {
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    color:black;
    text-align: center;
}

.container .text1 h2 {
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    color: black;
    text-shadow: 10px 4px 10px rgba(238, 234, 234, 0.507);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container form {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.20);
    border-radius: 20px;
}

.form-container form .image-input {
    display: flex;
    align-items: center;
    margin: 10px;
}

.form-container form .image-input img {
    width: 50px;
    height: 40px;
}

.form-container form input[type="email"],
.form-container form input[type="text"],
.form-container form input[type="password"] {
    padding: 10px;
    width: 70%;
    margin-left: 30px;
    max-width: 400px;
    background-color: rgba(217, 217, 217, 1);
    border: none;
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    border-radius: 30px;
}

.form-container form .opacity {
    margin: 20px;
    padding: 10px;
    width: 20%;
    max-width: 600px;
    background-color: rgba(81, 138, 222, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 20px;
    font-weight: 1000;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.form-container .opacity:hover {
    background-color: rgb(0, 91, 228);
    color: #dadada;
    transition: 0.5s;
    border-radius: 20px;
}

.text2 p{
width: 100%;
  max-width: 525px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

@media (max-width: 768px) {
    .container .text h1 {
        font-size: 28px;
        line-height: 34px;
    }

    .container .text1 h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .form-container form {
        padding: 15px;
    }

    .form-container form .opacity {
        width: 75%;
        max-width: 100%;
    }

    .text2 p{
        font-size: 18px;
        line-height: 22px;
    }
}